* {
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-decoration: none;
}

html {
    scroll-behavior: smooth;
}

.row {
    display: flex;
    flex-direction: row;
}

.column {
    display: flex;
    flex-direction: column;
}