.title-create {
    font-size: 26px;
    font-weight: bold;
    margin-bottom: 20px;
}

.error-box {
    background: #ffe4e4;
    padding: 12px;
    border-left: 5px solid #e60000;
    margin-bottom: 20px;
    border-radius: 6px;
}

.create-form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 25px;
    background: white;
    padding: 25px;
    border-radius: 10px;
}

.form-group {
    display: flex;
    flex-direction: column;
}

.form-group label {
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 6px;
}

.form-group input,
.form-group select {
    padding: 10px;
    border-radius: 6px;
    border: 1px solid #ccc;
}

.submit-btn {
    grid-column: 1 / 3;
    background: #2565d0;
    color: white;
    padding: 12px;
    border-radius: 6px;
    border: none;
    font-size: 16px;
    cursor: pointer;
    margin-top: 10px;
}

.submit-btn:hover {
    background: #1a4fa6;
}
